@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --color-0:#FFFFFF;
  --color-1:#D9D9D9;
  --color-2:#BBBBBB;
  --color-3:#e74c3c;
  --color-4:#c0392b;

  --gradient-color-1: #043D5D; 
  --gradient-color-2: #032E46; 
  --gradient-color-3: #23B684;  
  --gradient-color-4: #0F595E;

  --gradient-0: linear-gradient(0deg, rgba(3, 46, 70,0.8)  10%,rgba(4, 61, 93, 0) 100%);

  --shadow-0: 0px 4px 4px 0px rgba(0,0,0,0.25);

  --font-title: clamp(2.125rem,1vw,2.5rem);
  --font-subtitle: clamp(1.25rem,1vw,1.5rem);
  --font-p: clamp(1.125rem,1vw,1.25rem);
  --font-small: clamp(0.9rem,1vw,1rem);
}

/* Global */

*
{
  font-family: "Poppins", sans-serif;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;

  box-sizing: border-box;
  border: none;

  text-decoration: none;
  list-style: none;
}

body, html
{
  overflow-x: hidden;
}

#root
{
  position: absolute;
}

section
{
  width: 100%;
  height: 100vh;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button
{
  position: relative;

  width: 135px;

  min-height: 50px;
  height: 50px;
}

.button-bg
{
  width: 100%;
  height: 100%;

  background-color: var(--gradient-color-4);

  transform: rotateZ(-8deg) scale(1.1);
}

.button-content
{
  cursor: pointer;

  position: absolute;

  width: 100%;
  height: 100%;

  gap: 0.5rem;

  background-color: var(--gradient-color-2);
}

.button-content-text
{
  font-weight: 500;
  font-size: var(--font-p);

  color: var(--color-0);
}

.button-content-icon
{
  width: 20px;
  height: 20px;

  color: var(--color-0);
}

.bg
{
  position: relative;

  width: 100vw;
  height: 35vh;

  flex-direction: column;
}

.bg-border-back
{
  position: absolute;

  width: 100vw;
  height: 100px;

  bottom: 100%;
  left: 0%;

  clip-path: polygon(0 55%, 100% 45%, 100% 100%, 0% 100%);
  background-color: var(--color-2);

  z-index: 0;
}

.bg-border-top
{
  position: absolute;

  width: 100vw;
  height: 100px;

  bottom: 99%;
  left: 0%;

  clip-path: polygon(0 70%, 100% 85%, 100% 100%, 0% 100%);
  background-color: var(--color-1);

  z-index: 2;
}

.bg-border-bottom
{
  position: absolute;

  width: 100vw;
  height: 100px;

  top: 99%;
  left: 0%;

  clip-path: polygon(0 0, 100% 0, 100% 10%, 0 35%);
  background-color: var(--color-0);
}

.bg-content
{
  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--color-0);
  
  padding: 1.5rem 1rem;
  gap: 1.5rem;

  width: 100%;
  height: 100%;

  z-index: 3;
}

/* Background Effect */

#canvas-bg
{
  position: fixed;

  width: 100%;
  height: 100%;
}

/* Navbar */

.navbar
{
  position: fixed;
  justify-content: space-between;

  padding: 1rem;

  width: 100%;
  height: 50px;

  background-color: var(--color-0);

  z-index: 99;
}

.navbar-border
{
  position: absolute;

  width: 100%;
  height: 100px;

  top: 97%;
  left: 0%;

  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 10%);
  background-color: var(--color-1);
}

/* Navbar Social */

.navbar-social
{
  gap: 0.75rem;
}

.navbar-social-button
{
  position: relative;

  width: 30px;
  height: 30px;
}

.navbar-social-button-bg
{
  position: absolute;

  width: 100%;
  height: 100%;

  transform: rotateZ(-15deg);

  background-color: var(--gradient-color-2);
  box-shadow: var(--shadow-0);
}

.navbar-social-button-link
{
  width: 100%;
  height: 100%;
}

.navbar-social-button-icon
{
  position: absolute;

  width: 20px;
  height: 20px;

  color:var(--color-1);
}

/* Navbar mobile */

.navbar-button-menu-content
{
  position: relative;

  width: 30px;
  height: 30px;
}

.navbar-button-menu
{
  cursor: pointer;

  width: 100%;
  height: 100%;
  
  transform: rotateZ(-15deg);
  
  background-color: var(--gradient-color-2);
  box-shadow: var(--shadow-0);
}

.navbar-button-menu-icon
{
  pointer-events: none;

  position: absolute;

  width: 25px;
  height: 25px;

  color:var(--color-1);
}

.navbar-mobile-menu
{
  position: absolute;
  
  flex-direction: column;
  gap: 1.5rem;

  width: fit-content;
  height: fit-content;

  right: 0%;
  top: 100%;

  margin: 1.5rem;
}

.navbar-button-section-content
{
  position: relative;

  width: 50px;
  height: 50px;
}

.navbar-button-section-bg
{
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--gradient-color-4);
  box-shadow: var(--shadow-0);

  transform: rotateZ(15deg);
}

.navbar-button-section
{
  position: absolute;

  width: 100%;
  height: 100%;
}

.navbar-button-section-icon
{
  width: 50%;
  height: 50%;

  color: var(--color-1);
}

/* Navbar Desktop */

.navbar-desktop
{
  display: none;

  width: 300px;

  margin: 2rem;
  gap: 1rem;

  transform: translate(-15px,15px);
}

/* Home */

#home
{
  width: 100vw;

  justify-content: flex-end;
  flex-direction: column;
}

.home-presentation
{
  flex-direction: column;
}

.home-presentation-hi
{
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-subtitle);

  color: var(--color-1);
}

.home-presentation-name
{
  font-weight: 500;
  font-size: var(--font-subtitle);

  color: var(--color-0);
}

.home-presentation-lastname
{
  font-weight: 700;
  font-size: var(--font-title);

  color: var(--color-0);
}

.home-content
{
  flex-direction: column;
}

.home-perfil
{
  max-width: 300px;

  width: 75%;
  height: auto;

  border-radius: 100%;

  z-index: 1;

  transform: translateY(50px);
}

.home-info-text
{
  flex-direction: column;
}

.home-info-position
{
  text-align: center;

  font-size: var(--font-p);
  font-weight: 600;

  color: var(--gradient-color-2);
}

.home-info-studies
{
  text-align: center;

  font-size: var(--font-p);
  font-weight: 500;

  color: var(--gradient-color-2);
}

.home-info-university
{
  gap: 0.5rem;
}

.home-info-university-icon
{
  width: 20px;
  height: 20px;

  color: var(--gradient-color-4);
}

.home-info-university-text
{
  font-size: var(--font-small);
  font-weight: 600;

  text-decoration: underline;

  color: var(--gradient-color-4);
}

.home-info-random
{
  gap: 0.5rem;
  flex-direction: column;
}

.home-info-random-icon
{
  width: 40px;
  height: 40px;

  color: var(--gradient-color-4);
}

.home-info-random-text
{
  height: 40px;

  text-align: center;

  font-size: var(--font-small);
  font-weight: 700;

  color: var(--gradient-color-4);
}

.inline-block
{
  display: inline-block;
}

/* Gallery */

.gallery
{
  flex-direction: column;

  max-width: 700px;
  width: 100vw;
  padding: 2rem;
  
  gap:2.5rem;
  z-index: 1;
}

.gallery-content
{
  width: 100%;
  height: 55vh;

  overflow: hidden;
}

.gallery-slide
{
  width: fit-content;
  height: 100%;
}

.gallery-item
{
  position: relative;

  max-width: calc(700px - 4rem);
  width: calc(100vw - 4rem);
  height: 100%;

  overflow: hidden;
}

.dots-content
{
  max-width: 350px;
  width: 100%;
  height: 50px;
}

.dots-slide
{
  position: relative;

  width: 100%;
  height: 100%;
}

.dots-bg
{
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--gradient-color-4);

  z-index: -1;

  transform: rotateZ(-3deg) scale(1.05);
}

.dots-view
{
  background-color: var(--gradient-color-2);

  gap:0.75rem;
  padding: 1.5rem;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.dot
{
  cursor: pointer;

  min-width: 15px;
  width: 15px;
  height: 15px;

  border: none;
  box-shadow: var(--shadow-0);

  transform: rotateZ(20deg);

  transition: 0.25s all ease-in-out;
}

.dot-selected
{
  border-radius: 100%;
  transform: scale(1.5);

  background-color: var(--gradient-color-3);
}

.dot-unselected
{
  border-radius: 0%;
  background-color: var(--color-1);
}

/* Works */

#works
{
  position: relative;
  flex-direction: column;
}

.work-item
{
  border-radius: 15px;
}

.work-item-img
{
  width: auto;
  height: 100%;
}

.work-item-gradient
{
  position: absolute;

  width: 100%;
  height: 100%;

  background: var(--gradient-0);
}

.work-item-expand
{
  cursor: pointer;

  position: absolute;

  bottom: 0%;
  right: 0%;

  padding: 1rem;
  gap: 0.5rem;
}

.work-item-expand-bg
{
  width: 35px;
  height: 35px;

  background-color: var(--gradient-color-4);

  transform: rotate(15deg);
}

.work-item-expand-icon
{
  pointer-events: none;
  position: absolute;

  width: 25px;
  height: 25px;

  color: var(--color-1);
}

.work-bg
{
  height: 50vh;

  position: absolute;

  bottom: 0%;

  transform: scaleX(-1);
}

.works-info
{
  flex-direction: column;
  gap: 0.5rem;
}

.work-info-header
{
  font-style: italic;
  font-weight: 400;
  font-size: var(--font-small);

  color: var(--color-1);
}

.work-info-title
{
  font-weight: 600;
  font-size: var(--font-subtitle);

  color: var(--color-0);
}

.work-info-logo
{
  max-height: 30px;
  height: 100%;
  width: auto;
}

.work-info-footer
{
  width: 100%;
  justify-content: space-between;
}

.work-info-tecnologies
{
  gap: 0.5rem;
}

.work-info-icon
{
  width: 25px;
  height: 25px;

  color: var(--color-0);
}

/* Work Extended */

.bold
{
  font-weight: 700;
}

.work-extended
{
  position: absolute;

  flex-direction: column;

  overflow: hidden;

  max-width: 700px;

  width: 90%;
  height: 75vh;

  border-radius: 15px;

  z-index: 1;

  box-shadow: var(--shadow-0);

  transform: translateY(50px);
}

.work-extended-gallery-content
{
  background-color: var(--gradient-color-2);

  max-width: 700px;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.work-extended-gallery
{
  height: 100%;
  width: auto;
}

.work-extended-bg
{
  flex-direction: column;
  height: 40vh;
  width: 100%;
}

.work-extended-bg-content
{
  flex-direction: column;
  gap: 0.5rem;

  overflow-y: auto;
}

.work-extended-name
{
  width: 100%;

  font-size: var(--font-p);
  font-weight: 800;

  color: var(--gradient-color-2);
}

.work-extended-enterprise-content
{
  width: 100%;

  gap: 0.5rem;
  justify-content: flex-start;
}

.work-extended-enterprise-text
{
  font-size: var(--font-small);
  font-weight: 700;

  color: var(--gradient-color-2);
}

.work-extended-enterprise-logo-content
{
  background-color: var(--color-2);
  box-shadow: var(--shadow-0);

  padding: 0.3rem;
}

.work-extended-enterprise-logo
{
  max-height: 20px;
  height: 100%;
  width: auto;
}

.work-extended-position
{
  width: 100%;

  font-size: var(--font-small);
  font-weight: 600;

  color: var(--gradient-color-2);
}

.work-extended-tecnologies-content
{
  width: 100%;
  justify-content: flex-start;

  gap: 0.5rem;

  font-size: var(--font-small);
  font-weight: 700;

  color: var(--gradient-color-2);
}

.work-extended-tecnologies-icon
{
  width: 20px;
  height: 20px;
}

.work-extended-link-content
{
  width: 100%;
  justify-content: flex-start;

  gap: 0.25rem;
}

.work-extended-link-icon
{
  min-width: 25px;
  width: 25px;
  height: 25px;

  color: var(--gradient-color-2);
}

.work-extended-link
{
  width: 100%;

  font-size: var(--font-small);
  font-weight: 500;
  text-decoration: underline;

  color: var(--gradient-color-2);

  white-space: nowrap;

  text-overflow: ellipsis;
  overflow: hidden;
}

.work-extended-resume
{
  width: 100%;

  font-size: var(--font-small);
  font-weight: 500;
  color: var(--gradient-color-2);
}

.work-extended-date
{
  width: 100%;

  font-size: var(--font-small);
  font-weight: 600;
  font-style: italic;

  color: var(--gradient-color-2);
}

.work-extended-close-btn
{
  cursor: pointer;
  position: absolute;

  width: 35px;
  height: 35px;

  top: 0%;
  left: 0%;

  margin: 1rem;
}

.work-extended-close-btn-bg
{
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--gradient-color-4);
  box-shadow: var(--shadow-0);
}

.work-extended-close-btn-icon
{
  pointer-events: none;

  color: var(--color-1);

  width: 20px;
  height: 20px;

  transform: rotateZ(90deg);
}

/* Contact */

#contact
{
  flex-direction: column;
  justify-content: flex-end;
}

.contact-bg
{
  height: fit-content;
}

.contact-say-hello
{
  gap: 0.5rem;
  width: 100%;
}

.contact-say-hello-text
{
  font-size: var(--font-subtitle);
  font-weight: 700;

  color: var(--gradient-color-2);
}

.contact-say-hello-icon
{
  width: 20px;
  height: 20px;

  transform: rotateZ(30deg);

  color: var(--gradient-color-2);
}

.contact-form
{
  flex-direction: column;

  max-width: 700px;
  width: 100%;
  
  padding: 0.5rem;
  gap:2rem;
}

.contact-form-article
{
  width: 100%;
  flex-direction: column;
  gap:0.5rem;
}

.contact-form-title
{
  width: 100%;

  font-size: var(--font-p);
  font-weight: 600;

  color: var(--gradient-color-2);
}

.colored
{
  font-weight: 700;

  color: var(--color-3);
}

.contact-form-input-content
{
  position: relative;

  width: 100%;
  height: 40px;
}

.textarea
{
  height: 140px;
}

.contact-form-input-bg
{
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: var(--color-2);

  transform: rotateZ(-5deg) scale(0.95);
}

.contact-form-input
{
  position: absolute;

  width: 100%;
  height: 100%;

  padding: 0.5rem;

  background-color: var(--color-1);

  font-style: normal;
  font-weight: 600;

  color: var(--gradient-color-2);

  resize: none;
}

.contact-form-input::placeholder
{
  font-style: italic;
  font-weight: 400;

  color: var(--gradient-color-2);
}

.contact-form-input:focus
{
  border-radius: 0;
  outline: 2px solid var(--gradient-color-2);
}

.form-submit-content
{
  width: 100%;
  flex-direction: column;

  gap:2rem;
}

.contact-info
{
  flex-direction: column;
}

.contact-info-group
{
  gap: 0.5rem;
}

.contact-info-icon
{
  width: 25px;
  height: 25px;
  color: var(--gradient-color-2);
}

.contact-info-text
{
  font-size: var(--font-p);
  font-weight: 500;

  color: var(--gradient-color-2);
}

/* Footer */

.footer
{
  width: 100%;
  height: 50px;

  background-color: var(--gradient-color-2);
}

.footer p
{
  font-size: var(--font-small);
  font-weight: 300;

  color: var(--color-1);
}

/* Responsive */

@media screen and (min-width:700px) {

  /* Navbar */

  .navbar-mobile
  {
    display: none;
  }

  .navbar-desktop
  {
    display: flex;
  }

  /* Gallery */

  .dots-content
  {
    max-width: 500px;
  }

  /* Works */

  .work-extended-gallery
  {
    width: 100%;
    height: auto;

    aspect-ratio: 16/9;
  }

  /* Contact */

  .contact-form-input-bg
  {
    transform: rotateZ(-3deg) scale(0.95);
  }

  .form-submit-content
  {
    flex-direction: row;
    justify-content: space-around;
  }
}